html,
body {
    overflow-x: hidden;
    /* Bloquea el scroll horizontal */
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(180deg, #0a1525, #0a1525 20%, #162b44 80%, #162b44);
}


div {
    box-sizing: border-box;
}

nav {
    background: #292d3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 2;
    /* Asegura que el menú esté por encima del carrusel */
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    text-transform: uppercase;
}

.nav-links a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
    transform: translateX(0%);
}

.nav-links a:hover {
    color: #38b8ff;
    letter-spacing: 5px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: all 0.3s ease;

}

/* Clases personalizadas para el botón de cerrar sesión */
.custom-dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292d3e;
    /* Cambia el color de fondo al color del menú */
    padding: 10px 0;
    /* Espaciado vertical para centrar el botón */
}

.custom-logout-btn {
    text-decoration: none;
    color: #5b648a;
    /* Cambia el color del texto */
    padding: 10px 20px;
    /* Espaciado interno del botón */
    border-radius: 5px;
    /* Bordes redondeados */
}

.custom-logout-btn:hover {
    background-color: #292d3e;
    /* Cambio de color al pasar el ratón (mismo color de fondo) */
}

#Inicio-text {
    color: #ffffff;
}

/* Carusel de imágenes */

.carousel-container {
    position: relative;
    z-index: 1;
}

.carousel-inner img {
    border-radius: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #292d3e;
    border-radius: 50%;
    margin-right: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #292d3e;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    /* Esto oculta el desbordamiento de las imágenes durante la transición */
}

.carousel-item {
    transition: transform 0.5s ease;
    /* Agrega una transición suave de 0.5 segundos a la propiedad 'transform' */
}

.carousel-item {
    transition: transform 0.5s ease;
    transform: translateX(0);
    /* Inicialmente, la imagen se muestra en su posición normal */
}

.carousel-item.active {
    transform: translateX(0);
    /* La imagen activa permanece en su posición normal */
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active.carousel-item-start,
.carousel-item.active.carousel-item-end {
    transform: translateX(100%);
    /* Las imágenes anteriores y siguientes se desplazarán hacia la derecha */
}





/* Estilos generales para las cards */

.ropa-box {
    background-color: #292d3e;
    padding: 30px;
    border-radius: 40px;
    color: #ffffff;
}

.card {
    background-color: #393f56;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.2s ease;
    /* Agrega una transición suave de 0.2 segundos en la propiedad 'transform' */
}

.card:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño de la tarjeta al pasar el mouse por encima */
}

#Producto {
    color: #a8b2ff;
}

#Precio {
    color: #ffffff;
}

#Cantidad {
    color: #a8b2ff;
}

#cantidad {
    border-radius: 20px;
    padding: 5px 2px;
}

.Comprar {
    background-color: #a8b2ff;
    color: #000000;
    border-radius: 20px;
    padding: 10px 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.card-title,
.card-body span {
    color: #ffffff;
}

/* Inicio de cesion y regristro */

.mt-5 {
    border-radius: 50px;
    padding: 20px 20px;
}

.col-md-6 {
    background-color: #162b44;
    border-radius: 50px;
    padding: 20px 20px;
}

.text-center {
    color: #ffffff;
}

.mb-3 {
    border-radius: 50px;
    padding: 10px 10px;
}

.form-label {
    color: #ffffff;
    background-color: #393f56;
    border-radius: 10px;
    padding: 5px 15px;
}

.d-flex {
    border-radius: 40px;
    padding: 10px 10px;
    background-color: #393f56;

}

.fw-normal {
    color: #ffffff;

}

.Botton {
    text-align: center;
}

#map {
    border-radius: 40px;
}

/* Estilos para el botón */
.Login {
    background-color: #0a1525;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s, transform 0.4s;
    /* Agregamos transform a la transición */
}

.Login:hover {
    background-color: #292d3e;
    transform: scale(1.10);
    /* Agrandamos el botón al 105% de su tamaño original */

}



/* Formularios */

:root {
    --primary: #ffffff;
    --secondary: #24497b;
    --white: #818181;
    --gray: #9b9b9b;
}

/* Estilos generales para .form__group */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

/* Estilos generales para .form__field */
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

/* Placeholder */
.form__field::placeholder {
    color: transparent;
}

/* Label animado */
.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

/* Estilo de la etiqueta del campo */
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
}

/* Estilo del campo enfocado */
.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
}

/* Reset de estilo para campos requeridos e inválidos */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

/* Estilos para el enlace "¿No tiene un usuario?" */
#Subtitulo {
    color: #c5c5c5;
}

#Subtitulo:hover {
    color: #11998e;
    text-decoration: none;
}



/* Banner Legal */
.legal-box {
    width: 100%;
    background-color: #292d3e;
    /* Cambia el color de fondo según tus preferencias */
    padding: 20px;
    /* Ajusta el espaciado interior según tus preferencias */
    box-sizing: border-box;
    /* Esto asegura que el padding no aumente el tamaño total */
}


.text-legal a {
    color: #625cb9;
}

.legal-box img {
    border-radius: 10px
}

.text-legal {
    color: #a8b2ff;
}

#cel1 {
    color: #d0d2e7;
    text-decoration: none;

}

#cel2 {
    color: #5493a5;
    text-decoration: none;

}

#pago {
    background-color: #292d3e;
}

.alert-success h4 {
    color: #ffffff;
}

#monto {
    color: #a8b2f2;
}

#dinero {
    color: #7fff00;
}

#dinero-2 {
    color: blue;
}

#soporte {
    color: #c6cbd1;
}

.Pago-final {
    padding: 20px 80px;
    border-radius: 20px;
    background-color: #7fff00;
    color: #000000;
}

.Proceso-pago {
    padding: 10px 80px;
    border-radius: 10px;
    background-color: #ffca2c;
    color: #000000;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s, transform 0.2s;
}

.Proceso-pago:hover {
    background-color: #ffca2c;
    transform: scale(1.05);
    /* Agrandamos el botón al 105% de su tamaño original */

}


#formulario {
    background-color: #060f33;
    color: #ffffff;
    border-radius: 50px;
    border: none;
}

/* Tabla */

.table-responsive {
    border-radius: 10px;
}


@media only screen and (max-width: 576px) {

    html,
    body {
        overflow-x: hidden;
        /* Bloquea el scroll horizontal en dispositivos móviles */
    }

    nav {
        justify-content: space-between;
        padding: 0 5vw;
    }

    /* Cambia el flex-direction para mostrar las cards una debajo de la otra */
    .card {
        flex-direction: column;
        width: 100%;
    }

    .Comprar {
        padding: 8px 16px;
        /* Ajusta el padding del botón Comprar */
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        min-height: 92vh;
        background: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0;
        padding: 0;
        transform: translateX(100%);
        transition: All 0.5s ease-in;
    }

    .nav-links a {
        opacity: 0;

    }

    .burger {
        display: block;
    }

    /* Carusel de imágenes */

    .carousel-inner img {
        border-radius: 20px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 50px;
        height: 50px;
        background-color: #333333;
        border-radius: 50%;
        margin-right: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: #38b8ff;
    }

    /* Banner Legal */
    .legal-box {
        width: 100%;
        background-color: #393f56;
        /* Cambia el color de fondo según tus preferencias */
        padding: 20px;
        /* Ajusta el espaciado interior según tus preferencias */
        box-sizing: border-box;
        /* Esto asegura que el padding no aumente el tamaño total */
    }


    .text-legal a {
        color: #625cb9;
    }

    .legal-box img {
        border-radius: 10px
    }

    .text-legal {
        color: #a8b2ff;
    }

    #cel1 {
        color: #d0d2e7;
        text-decoration: none;

    }

    #cel2 {
        color: #5493a5;
        text-decoration: none;

    }
}

@media only screen and (max-width: 576px) {
    nav {
        justify-content: space-between;
        padding: 0 5vw;
    }
}

.nav-active {
    transform: translateX(0);
}

@media only screen and (max-width: 576px) {
    .nav-links {
        width: 100%;
        transition: All 0.5s ease;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}